@charset "UTF-8";
@font-face {
    font-family: SpaceGrotesk;
    src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

:root {
    --black: #151515;
    --Dark-Grey: #242424;
    --Green: #4EE1A0;
    --Grey: #D9D9D9;
    --White: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: SpaceGrotesk;
}

body {
    background-color: var(--black);
}

main {
    padding: 0px 16px;
}

section#sprojects {
    padding: 0px 16px;
}

img#ringsimg {
    position: absolute;
    display: block;
    width: 530px;
    left: -342px;
    top: 124px;
}

div#divcircleimg {
    position: absolute;
    width: 100%;
    top: 254px;
    overflow-x: hidden;
}

img#circleimg {
    padding-left: 90%;
}

div#divringimgm {
    position: absolute;
    width: 100%;
    top: 1287px;
    overflow-x: hidden;
}

img#ringsimgm {
    padding-left: 50%;
}

img#ringsimgmf {
    position: absolute;
    top: 4623px;
    left: -343px;
}

div#adamsocial {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 24px;
    color: var(--White);
    font-weight: bold;
    text-align: center;
}

div#adamsocial p {
    margin-bottom: 20px;
}

.icons {
    width: 19.69px;
    margin: 0px 10px;
}

div#adamkeyesprofile img#adampmobile{
    display: block;
    margin: auto;
    width: 174px;
    margin-bottom: 40px;
}

div#adamkeyesprofile img#adamptablet {
    display: none;
}

img#adampdesktop {
    display: none;
}

div#nmeetu {
    text-align: center;
    margin-bottom: 80px;
}

span.adamunderline {
    text-decoration: underline var(--Green);
}

div#nmeetu h1 {
    font-weight: bold;
    color: var(--White);
    font-size: 40px;
    margin-bottom: 24px;
}

div#nmeetu p {
    color: var(--Grey);
    font-size: 16px;
    width: 343px;
    margin: auto;
}

div#nmeetu p#contp {
    color: var(--White);
    text-decoration: underline var(--Green);
    text-underline-offset: 10px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: bold;
}

div#teclist {
    border-top: 1px solid var(--White);
    border-bottom: 1px solid var(--White);
    padding: 40px 0px;
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 80px;
}

p.tec {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

p.yexp {
    font-size: 16px;
    color: var(--Grey);
    margin-bottom: 24px;
}

p#iyexp {
    margin-bottom: 0px;
}

div#projects {
    display: flex;
    justify-content: space-between;
}

div#projects h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--White);

}

div#projects p {
    color: var(--White);
    font-weight: bold;
    text-decoration: underline var(--Green);
    text-underline-offset: 10px;
    padding-top: 7px;
    margin-bottom: 40px;
}

div.projectsimages {
    color: white;
    margin-bottom: 40px;
}

div.projectsimages img {
    margin-bottom: 20px;
    width: 335px;
    height: 253px;
}

div.projectsimages h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

div.projectstecs {
    display: flex;
    color: var(--Grey);
}

div.projectstecs p {
    margin-right: 18px;
    margin-bottom: 20px;
    font-size: 18px;
}

div.projectsimages a {
    color: var(--White);
    font-weight: bold;
    margin-right: 30px;
    text-decoration: underline var(--Green);
    text-underline-offset: 10px;
}

div#lastpropjectimage {
    margin-bottom: 80px;
}

div#containercf {
    background-color: var(--Dark-Grey);
    padding: 0px 16px;
}

div#contactt {
    color: var(--White);
    padding-top: 66px;
    text-align: center;
}

div#contactt h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

div#contactt p {
    color: var(--Grey);
    font-size: 16px;
    margin-bottom: 50px;
}

div.formitens {
    display: flex;
    color: var(--White);
    border-bottom: 1px solid;
}

div.formitens input, textarea {
    width: 100%;
    padding: 16px 0px;
    padding-left: 10px;
    font-size: 20px;
    color: white;
    background-color: var(--Dark-Grey);
    border: none;
    outline: none;
}

div.formitens{
    margin-bottom: 32px;
}

div#contactinputd {
    text-align: right;
    border-bottom: 1px solid white;
    margin-bottom: 39px;
}

div#contactinputd input {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--Dark-Grey);
    border: none;
    color: white;
    border-bottom: 2px solid var(--Green);
    padding: 10px;
    margin-bottom: 87px;

}

div#adamsocialf {
    font-size: 24px;
    color: var(--White);
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

div#adamsocialf p {
    margin-bottom: 20px;
}

.icons {
    width: 19.69px;
    margin: 0px 10px;
}